.main__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding:20px;
    width: 90vw;
    z-index: 999;
}

.header__logo{
    height: 40px;
}

.header__left{
    display: flex;
    flex-direction: row;
}

.header__left div{
    margin-right: 20px;
    transition: color 0.8s;
}


.header__left div:hover{
    color:#657BC5
}

.header__left div:hover, .main__header img{
    margin-right: 20px;
    cursor: pointer;
}


@media only screen and (max-width: 650px) {
    .main__header{
        flex-direction: column;
    }
}

@media only screen and (max-width: 450px) {
    .header__left div{
        font-size: 12px;
    }
}